@{
    ViewBag.Title = "Principal";
}

<div class="jumbotron">
    <h1>Plataforma IEB-UFSC</h1>
    <p class="lead">Esta plataforma foi desenvolvida pelos alunos do Intituto de Engenharia Biomédica da UFSC e tem por finalidade auxiliar os profissionais de saúde em suas decisões,
    assim como acompanhar a evulução de seus pacientes. Em contra partida, os dados fornecidos à plataforma são usados para validação e investigação para pesquisas acadêmicas.</p>
    <p><a href="http://www.ieb.ufsc.br" class="btn btn-primary btn-lg">Saiba mais sobre o IEB-UFSC &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sou Médico</h2>
        <p>
            Quer compartilhar informações em troca de uma plataforma confiável e ajudar na pesquisa...
        </p>
        <p>@Html.ActionLink("Teste", "Index", "Cadastro", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Sou Paciente</h2>
        <p>Quer ter os dados de suas consultas e compartilhar suas informações para pesquisa... </p>
        <p>@Html.ActionLink("Teste", "Index", "Cadastro", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Sou Pesquisador</h2>
        <p>Contribua com a platadorma e com a comunidade...</p>
        <p>@Html.ActionLink("Teste", "Base", "Especialista", new { @class = "btn btn-default" })</p>
    </div>
</div>