
@{
    ViewBag.Title = "Principal";
}

@switch (Request.Cookies["CookieTipo"].Value)
{
    case "ADMIN":
        Layout = "~/Views/Shared/_LayoutADM.cshtml";
        break;

    case "Medico":
        Layout = "~/Views/Shared/_LayoutMED.cshtml";
        break;

    case "Pesquisador":
        Layout = "~/Views/Shared/_LayoutPES.cshtml";
        break;

    case "Paciente":
        Layout = "~/Views/Shared/_LayoutPAC.cshtml";
        break;
}

<div class="jumbotron">
    <h1>Olá @Response.Cookies["CookieNome"].Value</h1>
    <p class="lead">
        Sua participação é muito importante! 
    <p><a href="http://www.ieb.ufsc.br" class="btn btn-primary btn-lg">Saiba mais sobre o IEB-UFSC &raquo;</a></p>
</div>