@model PlataformaIEB.Models.Paciente
@{
    ViewBag.Title = "EditPaciente";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <h3>Paciente não encontrado</h3>
}
else
{
    <div class="row">
        <div class="col-md-offset-1">
            @using (Html.BeginForm())
            {
                @Html.Partial("_FormPaciente", Model);

                <div class="form-group">
                    <div class="row">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Senha)
                        <input type="submit" class="btn btn-success" value="Salvar" />
                        @Html.ActionLink("Voltar", "PrincipalPaciente", new { area = "Admin", Controller = "Cadastro" }, new { @class = "btn btn-danger" })
                    </div>
                </div>


            }
        </div>
    </div>
}


